<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Rj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WebLoginServlet</display-name>
    <servlet-name>WebLoginServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.WebLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebLoginServlet</servlet-name>
    <url-pattern>/webLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebNoticeServlet</display-name>
    <servlet-name>WebNoticeServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.WebNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebNoticeServlet</servlet-name>
    <url-pattern>/webNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebOpenServlet</display-name>
    <servlet-name>WebOpenServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.WebOpenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebOpenServlet</servlet-name>
    <url-pattern>/webOpen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NextNoticeServlet</display-name>
    <servlet-name>NextNoticeServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.NextNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextNoticeServlet</servlet-name>
    <url-pattern>/nextNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNoticeServlet</display-name>
    <servlet-name>ShowNoticeServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.ShowNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNoticeServlet</servlet-name>
    <url-pattern>/showNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebConfirmServlet</display-name>
    <servlet-name>WebConfirmServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.WebConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebConfirmServlet</servlet-name>
    <url-pattern>/webConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostConfirmServlet</display-name>
    <servlet-name>PostConfirmServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.PostConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostConfirmServlet</servlet-name>
    <url-pattern>/postConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSmhServlet</display-name>
    <servlet-name>WebSmhServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.WebSmhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSmhServlet</servlet-name>
    <url-pattern>/webSmh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostSmhServlet</display-name>
    <servlet-name>PostSmhServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.PostSmhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostSmhServlet</servlet-name>
    <url-pattern>/postSmh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebDsServlet</display-name>
    <servlet-name>WebDsServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.WebDsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebDsServlet</servlet-name>
    <url-pattern>/webDs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostDsServlet</display-name>
    <servlet-name>PostDsServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.PostDsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDsServlet</servlet-name>
    <url-pattern>/postDs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookSmhServlet</display-name>
    <servlet-name>LookSmhServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.LookSmhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookSmhServlet</servlet-name>
    <url-pattern>/lookSmh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookDsServlet</display-name>
    <servlet-name>LookDsServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.LookDsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookDsServlet</servlet-name>
    <url-pattern>/lookDs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookQrServlet</display-name>
    <servlet-name>LookQrServlet</servlet-name>
    <servlet-class>rj.eachwang.com.web.servlet.LookQrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookQrServlet</servlet-name>
    <url-pattern>/lookQr</url-pattern>
  </servlet-mapping>
</web-app>